

.page-header>.container {
    padding-top: 50px;

}
.navbar .container {
    padding: 0px;
}
.navbar-translate a {
    font-size: 30px;
    font-weight: 500;
}

.navbar-nav .nav-item {
    font-size: 14px;
}

.navbar-nav .nav-item:hover {
    font-size: 20px;
    background-color: ;
    border-radius: 12px;
}
.navbar {
    background-color: #297e03;
    margin: 0px;
}


.footer {
    background-color: #297e03;
}

.footer .container {
    color: white;
}

.footer .copyright {
    color: white;
}